{% extends 'layout.html.twig' %}

{% block page_description %}
    Generate Package JSON
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="package">Package</label>
                    <select class="form-control" name="{{ formName }}[package]" id="package" required>
                        <option value="">---</option>
                        {% for package in packages %}
                            <option value="{{ package.id }}">
                                {{ package.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" name="{{ formName }}[country]" id="country" required>
                        <option value="">---</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}" >
                                {{ country.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-default">Generate</button>
            </form>
        </div>
    </div>


{% endblock %}