{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            hello twig222 <br/>
            {% for i in 1..5 %}
                {{ i }}
            {% endfor %}

            <p>
                cake {{ cake }}
            </p>234
        </div>
    </div>


{% endblock %}