{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="table">
            <table class="table" role="table">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>code</th>
                    <th>enabled</th>
                </tr>
                {% for country in countries %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.name }}</td>
                    <td>{{ country.code }}</td>
                    <td>{{ country.enabled }}</td>
                </tr>
                {% endfor %}
            </table></div>
        </div>
    </div>


{% endblock %}