{% if formName is not defined  %}
{%  set formName = 'theForm' %}
{% endif %}

<form role="form" action="{{ action }}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name" name="{{ formName }}[name]" value="{{ entity ? entity.name : '' }}" required>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="1" name="{{ formName }}[enabled]" id="enabled" {{ entity and entity.enabled ? ' checked ' : '' }}>
            enabled
        </label>
    </div>

    <button type="submit" name="{{ formName }}[submit]" class="btn btn-default">Save</button>
</form>