{% extends 'layout.html.twig' %}

{% block page_description %}
    Packages - list
{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-lg">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>is_enabled</th>
                        <th>created_time</th>
                        <th>updated_time</th>
                        <th colspan="10">options</th>
                    </tr>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.enabled }}</td>
                        <td>{{ entity.createdTime ? entity.createdTime | date('d/m/Y H:i') : '' }}</td>
                        <td>{{ entity.updatedTime ? entity.createdTime | date('d/m/Y H:i') : '' }}</td>
                        <td>
                            <a href="{{ path('package_edit', {'id': entity.id}) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{{ path('package_delete', {'id': entity.id}) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
    </div>


{% endblock %}