{% extends 'layout.html.twig' %}

{% block page_description %}
    Package - create
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('package') }}">Back to list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {%
            include('Package/_form.html.twig') with {
            'action': path('package_create')
            }
            %}
        </div>
    </div>


{% endblock %}