{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% block messages %}
        {% for flashMessage in session.flashbag.get('fail_flash_msg') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">סגירה</span></button>
                        {{ flashMessage  | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in session.flashbag.get('success_flash_msg') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">סגירה</span></button>
                        {{ flashMessage | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock %}

    {% block header %}
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('HOME') }}">Iron Demo</a>

                    {% block page_description_container %}
                        <p class="navbar-text">{% block page_description %}{% endblock %}</p>
                    {% endblock %}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{{ path('json_select') }}" target="_blank">Json</a></li>
                        {#<li><a href="{{ path('mapping_query') }}">Mapping</a></li>#}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CRUD <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Offer</li>
                                <li><a href="{{ path('offer') }}">List</a></li>
                                <li><a href="{{ path('offer_new') }}">Create</a></li>
                                <li role="separator" class="divider"></li>

                                <li class="dropdown-header">Package</li>
                                <li><a href="{{ path('package') }}">List</a></li>
                                <li><a href="{{ path('package_new') }}">Create</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    {% endblock %}

    {% block content %}{% endblock %}
</div>
{% endblock %}