<form class="form-inline" role="form">
    <div class="form-group">
        <label for="package">Package</label>
        <select class="form-control" name="{{ formName }}[package]" id="package">
            <option value="">---</option>
            {% set selectedPackage = filterFormData['package'] | default(0) %}
            {% for package in packages %}
                {% set selected = (package.id == selectedPackage) %}
                <option value="{{ package.id }}" {{ selected ? ' selected ' : '' }}>
                    {{ package.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" name="{{ formName }}[country]" id="country">
            <option value="">---</option>
            {% set selectedCountry = filterFormData['country'] | default(0) %}
            {% for country in countries %}
                {% set selected = (country.id == selectedCountry) %}
                <option value="{{ country.id }}" {{ selected ? ' selected ' : '' }}>
                    {{ country.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Offer name" name="{{ formName }}[name]" value="{{ filterFormData['name'] | default('') }}">
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
</form>