{% extends 'layout.html.twig' %}

{% block page_description %}
    Offer - create
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('offer') }}">Back to list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {%
            include('Offer/_form.html.twig') with {
            'action': path('offer_create')
            }
            %}
        </div>
    </div>


{% endblock %}